/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* CSS Variables */

:root {
  --primary-font: "Source Sans 3", sans-serif;
  --secondary-font: "Merriweather", serif;
  --primary-color: #4a4a4a; /*charcoal*/
  --secondary-color: #e4b4bc; /*soft pink*/
  --highlight-color: #b76e79; /*dusty rose*/
  --light-highlight-color: #adc2b2; /*sage-green*/
  --non-white-backgrounds: #faf4e0; /*off-white*/
}

/* Global Styles */

body {
  font-family: var(--primary-font);
}

h1,
h2 {
  font-family: var(--secondary-font);
  color: var(--highlight-color);
}

/* Navbar */

#navbar {
  background-color: var(--non-white-backgrounds);
}
