/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* CSS Variables */

:root {
  --primary-font: "Source Sans 3", sans-serif;
  --secondary-font: "Merriweather", serif;
  --primary-color: #4a4a4a;
  /*charcoal*/
  --secondary-color: #f4e1e4;
  /*soft pink*/
  --highlight-color: #b76e79;
  /*dusty rose*/
  --light-highlight-color: #adc2b2;
  /*sage-green*/
  --non-white-backgrounds: #f2ece8;
  /*off-white*/
}

/* -----------------------------------------------Global Styles */

html, body {
  height: 100%;
}

body {
   font-family: var(--primary-font);
}

body > footer {
  position: sticky;
  top: 100%;
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--highlight-color);
}

/* ----------------------------------------------------Navbar */

#navbar {
  background-color: var(--non-white-backgrounds);
}

/* -----------------------------------------------Main Content */

/* -------------------------------------------------Hero Section */

#hero {
  background: url(../images/hero.webp);
  background-color: #adc2b2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 70vh;
}

#hero h1 {
  margin-top: 5rem;
}

#hero h2 {
  margin-bottom: 3rem;
}

.hero-text {
  font-size: large;
  font-family: var(--secondary-font);
}

.custom-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  
}

.custom-button:hover {
  background-color: var(--light-highlight-color);
}

/* ---------------------------------------------------------------Service cards on home page */

#services-home {
  background: lightgrey;
 
  
}

#services-home h3 {
  color: var(--highlight-color);
}

.card {
  border: 2px solid var(--light-highlight-color);
  /*removes the extra left and right padding created by the card class. The div inside already has enough padding for the content*/
  padding: 0;
  border-radius: 0;
  
}

/* ------------------------------------------------------About Me preview on Home Page */

#about-me-home {
  background-color: var(--secondary-color);
  padding-top: 10px;
}

#doula-home-pic {
  border: 2px solid var(--light-highlight-color);
  height: 300px;
}

#about-preview-text {
  padding-top: 10px;
}

#about-preview-text p {
  padding: 10px;
}

/*---------------------------------------------------Featured section on home page*/

#featured {
  padding: 2rem 0;
}

/* -----------------------------------------------------------Services Page */

.services-picture {
  max-width: 100%;
  height: auto;
  border: 2px solid var(--light-highlight-color);
}

/* ---------------------------------------------------About Me Page*/

#doula-bio-pic {
  max-width: 100%;
  height: auto;
  border: 2px solid var(--light-highlight-color);
}

/* -----------------------------------------------------------------Footer */

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 1.5rem;
  background-color: var(--non-white-backgrounds);
}

.footer a {
  color: var(--highlight-color);
  font-size: 1.5rem;
}

.footer a:hover {
  color: var(--light-highlight-color);
}

/* ----------------------------------------------------------------------------Media Queries */

/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {
  #doula-home-pic {
    min-height: 400px;
  }
}

/* Large devices (small laptops, 992px and up) */

@media screen and (min-width: 992px) {
  #doula-home-pic {}

  card-text {
    min-height: 0;
  }
}

/* Extra-Large devices (Desktops, 1400px and up) */

@media screen and (min-width: 1400px) {
  #doula-home-pic {
    max-height: 400px;
  }
}