/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* CSS Variables */

:root {
  --primary-font: "Source Sans 3", sans-serif;
  --secondary-font: "Merriweather", serif;
  --primary-color: #4a4a4a; /*charcoal*/
  --secondary-color: #efd2d7; /*soft pink*/
  --highlight-color: #b76e79; /*dusty rose*/
  --light-highlight-color: #adc2b2; /*sage-green*/
  --non-white-backgrounds: #faf4e0; /*off-white*/
}

/* Global Styles */

body {
  width: 100%;
  overflow-x: hidden;
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--highlight-color);
}

/* Navbar */

#navbar {
  background-color: var(--non-white-backgrounds);
}

/* Main Content */

/* Hero Section */

#hero {
  background: url(../images/hero.webp);
  background-color: #adc2b2;
  padding-top: 5rem;
  background-size: cover;
  min-height: 300px;
  margin: 0;
  width: 100%;
}

#hero h2 {
  margin-bottom: 3rem;
}

.hero-text {
  font-size: large;
}

.custom-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  margin-top: 2rem;
}

.custom-button:hover {
  background-color: var(--light-highlight-color);
}

/* Service cards on home page */

#services-home h3 {
  color: var(--highlight-color);
}

.card {
  border: 3px solid var(--light-highlight-color);
}

/* About Me preview on Home Page */

#about-me-home {
  padding-top: 10px;
}

#doula-home-pic {
  border: 5px solid var(--light-highlight-color);
}

#about-preview-text {
  padding-top: 10px;
}

#about-preview-text p {
  padding: 10px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 1.5rem;
  background-color: var(--non-white-backgrounds);
}

.footer a {
  color: var(--highlight-color);
  font-size: 1.5rem;
}

.footer a:hover {
  color: var(--light-highlight-color);
}
